In [1]:
!nvidia-smi

Sun Dec  5 08:10:36 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 495.44       Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla K80           Off  | 00000000:00:04.0 Off |                    0 |
| N/A   71C    P8    33W / 149W |      0MiB / 11441MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [2]:
import numpy as np
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# data = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/AllStatesAndTerritoriesQTR4FY21.xlsx', sheet_name = ['ALABAMA', 'ALASKA', 'ARIZONA', 'ARKANSAS', 'CALIFORNIA', 'COLORADO', 'CONNECTICUT', 'DELAWARE', 'FLORIDA', 'GEORGIA', 'GUAM', 'IDAHO', 'ILLINOIS', 'INDIANA', 'IOWA', 'KANSAS', 'KENTUCKY', 'LOUISIANA', 'MAINE', 'MARYLAND', 'MASSACHUSETTS', 'MICHIGAN', 'MINNESOTA', 'MISSISSIPPI', 'MISSOURI', 'MONTANA', 'NEBRASKA', 'NEVADA', 'NEW HAMPSHIRE', 'NEW JERSEY', 'NEW MEXICO', 'NEW YORK', 'NORTH CAROLINA', 'NORTH DAKOTA', 'NORTHERN MARIANA ISLANDS', 'OHIO', 'OKLAHOMA', 'OREGON', 'PENNSYLVANIA', 'PUERTO RICO', 'RHODE ISLAND', 'SOUTH CAROLINA', 'SOUTH DAKOTA', 'TENNESSEE', 'TEXAS', 'UTAH', 'VERMONT', 'VIRGIN ISLANDS OF THE U.S.', 'VIRGINIA', 'WASHINGTON', 'WEST VIRGINIA', 'WISCONSIN', 'WYOMING'])
data = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/AllStatesAndTerritoriesQTR4FY21.xlsx', sheet_name = None)
# data = pd.read_csv('AllStatesAndTerritoriesQTR4FY21.csv')

In [5]:
data.keys()

dict_keys(['ALABAMA', 'ALASKA', 'ARIZONA', 'ARKANSAS', 'CALIFORNIA', 'COLORADO', 'CONNECTICUT', 'DELAWARE', 'FLORIDA', 'GEORGIA', 'GUAM', 'IDAHO', 'ILLINOIS', 'INDIANA', 'IOWA', 'KANSAS', 'KENTUCKY', 'LOUISIANA', 'MAINE', 'MARYLAND', 'MASSACHUSETTS', 'MICHIGAN', 'MINNESOTA', 'MISSISSIPPI', 'MISSOURI', 'MONTANA', 'NEBRASKA', 'NEVADA', 'NEW HAMPSHIRE', 'NEW JERSEY', 'NEW MEXICO', 'NEW YORK', 'NORTH CAROLINA', 'NORTH DAKOTA', 'NORTHERN MARIANA ISLANDS', 'OHIO', 'OKLAHOMA', 'OREGON', 'PENNSYLVANIA', 'PUERTO RICO', 'RHODE ISLAND', 'SOUTH CAROLINA', 'SOUTH DAKOTA', 'TENNESSEE', 'TEXAS', 'UTAH', 'VERMONT', 'VIRGIN ISLANDS OF THE U.S.', 'VIRGINIA', 'WASHINGTON', 'WEST VIRGINIA', 'WISCONSIN', 'WYOMING'])

In [6]:
df = pd.concat(data[frame] for frame in data.keys())

In [7]:
df = df.reset_index()

In [8]:
df = df.drop(labels = 'index', axis = 1)
df

       State                     Agency Name  ...  Ship Date Station Type
0         AL           ABBEVILLE POLICE DEPT  ... 2018-01-30        State
1         AL           ABBEVILLE POLICE DEPT  ... 2016-06-02        State
2         AL           ABBEVILLE POLICE DEPT  ... 2016-11-09        State
3         AL           ABBEVILLE POLICE DEPT  ... 2016-09-14        State
4         AL           ABBEVILLE POLICE DEPT  ... 2017-03-28        State
...      ...                             ...  ...        ...          ...
130953    WY  WESTON COUNTY SHERIFF'S OFFICE  ... 1993-09-01        State
130954    WY  WESTON COUNTY SHERIFF'S OFFICE  ... 1993-09-01        State
130955    WY  WESTON COUNTY SHERIFF'S OFFICE  ... 1993-09-01        State
130956    WY  WESTON COUNTY SHERIFF'S OFFICE  ... 1993-09-01        State
130957    WY  WESTON COUNTY SHERIFF'S OFFICE  ... 1993-09-01        State

[130958 rows x 11 columns]

In [9]:
df.count()

State                130958
Agency Name          130958
NSN                  130958
Item Name            130958
Quantity             130958
UI                   130958
Acquisition Value    130958
DEMIL Code           130958
DEMIL IC             121048
Ship Date            130958
Station Type         130958
dtype: int64

In [10]:
# There are 814 rows that are having null values and all are from column DEMIL IC
df.isnull().sum()

State                   0
Agency Name             0
NSN                     0
Item Name               0
Quantity                0
UI                      0
Acquisition Value       0
DEMIL Code              0
DEMIL IC             9910
Ship Date               0
Station Type            0
dtype: int64

In [11]:
df = df.fillna(1)

In [12]:
# We will drop state since all the instances have station type as state which as no significance 
df.groupby('Station Type').count()['State']

Station Type
State    130958
Name: State, dtype: int64

In [13]:
df = df.drop('Station Type', 1)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130958 entries, 0 to 130957
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   State              130958 non-null  object
 1   Agency Name        130958 non-null  object
 2   NSN                130958 non-null  object
 3   Item Name          130958 non-null  object
 4   Quantity           130958 non-null  int64
 5   UI                 130958 non-null  object
 6   Acquisition Value  130958 non-null  float64
 7   DEMIL Code         130958 non-null  object
 8   DEMIL IC           130958 non-null  float64
 9   Ship Date          130958 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 10.0+ MB

In [15]:
from sklearn.preprocessing import LabelEncoder

le =LabelEncoder()

df['State'] = le.fit_transform(df['State'])
df['Agency Name'] = le.fit_transform(df['Agency Name'])
df['NSN'] = le.fit_transform(df['NSN'])
df['Item Name'] = le.fit_transform(df['Item Name'])
df['UI'] = le.fit_transform(df['UI'])
df['DEMIL Code'] = le.fit_transform(df['DEMIL Code'])
df['Ship Date'] = le.fit_transform(df['Ship Date'])
# df['Station Type'] = le.fit_transform(df['Station Type'])

In [16]:
df.corr()

                      State  Agency Name  ...  DEMIL IC  Ship Date
State              1.000000     0.007716  ...  0.009781   0.061788
Agency Name        0.007716     1.000000  ... -0.004451   0.015957
NSN                0.009308     0.021460  ...  0.160561   0.632406
Item Name          0.008374    -0.012198  ... -0.028624  -0.257155
Quantity          -0.010061     0.007939  ... -0.004195   0.099630
UI                -0.014232     0.026054  ... -0.009302   0.152234
Acquisition Value  0.001140    -0.004720  ...  0.025192   0.053920
DEMIL Code         0.005336    -0.031039  ...  0.287777  -0.392149
DEMIL IC           0.009781    -0.004451  ...  1.000000   0.166042
Ship Date          0.061788     0.015957  ...  0.166042   1.000000

[10 rows x 10 columns]

In [17]:
from tensorflow.keras.optimizers import Adam
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from keras.models import Sequential
from keras.layers import Dense

In [18]:
from sklearn.preprocessing import normalize
import keras.utils
from tensorflow.keras.utils import to_categorical

# 'State','Ship Date', 'Agency Name', 'NSN', 'Item Name', 'Acquisition Value',
#                      'DEMIL Code' , 'DEMIL IC'

X = df.drop(labels = ['DEMIL Code'], axis = 1)

y = df['DEMIL Code']

X = normalize(X)


X_train, X_test,y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = True)

In [19]:
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [20]:
X_train = np.array(X_train)
X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))
X_train.shape

(91670, 9, 1)

In [21]:

y_train = to_categorical(y_train)
y_test = to_categorical(y_test)

In [22]:
model=Sequential()
model.add(Dense(4000,input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(1000,activation='relu'))
model.add(Dense(500,activation='relu'))
model.add(Dense(7,activation='softmax'))

In [23]:
optimizer = Adam(learning_rate=0.0001)
model.compile(optimizer, loss='binary_crossentropy',metrics=['accuracy'])

print('Model summary')
print(model.summary())

Model summary
Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 4000)              40000

 dense_1 (Dense)             (None, 1000)              4001000

 dense_2 (Dense)             (None, 500)               500500

 dense_3 (Dense)             (None, 7)                 3507

=================================================================
Total params: 4,545,007
Trainable params: 4,545,007
Non-trainable params: 0
_________________________________________________________________
None

In [24]:
y

0         3
1         3
2         2
3         3
4         3
         ..
130953    3
130954    3
130955    3
130956    3
130957    3
Name: DEMIL Code, Length: 130958, dtype: int64

In [25]:
model.fit(X_train, y_train, verbose=2, batch_size=64,epochs=100)

Epoch 1/100
1433/1433 - 10s - loss: 0.1147 - accuracy: 0.8363 - 10s/epoch - 7ms/step
Epoch 2/100
1433/1433 - 7s - loss: 0.0887 - accuracy: 0.8687 - 7s/epoch - 5ms/step
Epoch 3/100
1433/1433 - 7s - loss: 0.0839 - accuracy: 0.8764 - 7s/epoch - 5ms/step
Epoch 4/100
1433/1433 - 7s - loss: 0.0806 - accuracy: 0.8811 - 7s/epoch - 5ms/step
Epoch 5/100
1433/1433 - 7s - loss: 0.0779 - accuracy: 0.8846 - 7s/epoch - 5ms/step
Epoch 6/100
1433/1433 - 7s - loss: 0.0754 - accuracy: 0.8892 - 7s/epoch - 5ms/step
Epoch 7/100
1433/1433 - 7s - loss: 0.0732 - accuracy: 0.8937 - 7s/epoch - 5ms/step
Epoch 8/100
1433/1433 - 7s - loss: 0.0715 - accuracy: 0.8966 - 7s/epoch - 5ms/step
Epoch 9/100
1433/1433 - 7s - loss: 0.0696 - accuracy: 0.8998 - 7s/epoch - 5ms/step
Epoch 10/100
1433/1433 - 7s - loss: 0.0683 - accuracy: 0.9027 - 7s/epoch - 5ms/step
Epoch 11/100
1433/1433 - 7s - loss: 0.0671 - accuracy: 0.9044 - 7s/epoch - 5ms/step
Epoch 12/100
1433/1433 - 7s - loss: 0.0661 - accuracy: 0.9060 - 7s/epoch - 5ms/step
Epoch 13/100
1433/1433 - 7s - loss: 0.0650 - accuracy: 0.9076 - 7s/epoch - 5ms/step
Epoch 14/100
1433/1433 - 7s - loss: 0.0641 - accuracy: 0.9090 - 7s/epoch - 5ms/step
Epoch 15/100
1433/1433 - 7s - loss: 0.0631 - accuracy: 0.9106 - 7s/epoch - 5ms/step
Epoch 16/100
1433/1433 - 7s - loss: 0.0625 - accuracy: 0.9113 - 7s/epoch - 5ms/step
Epoch 17/100
1433/1433 - 7s - loss: 0.0616 - accuracy: 0.9133 - 7s/epoch - 5ms/step
Epoch 18/100
1433/1433 - 7s - loss: 0.0609 - accuracy: 0.9140 - 7s/epoch - 5ms/step
Epoch 19/100
1433/1433 - 7s - loss: 0.0601 - accuracy: 0.9152 - 7s/epoch - 5ms/step
Epoch 20/100
1433/1433 - 7s - loss: 0.0596 - accuracy: 0.9162 - 7s/epoch - 5ms/step
Epoch 21/100
1433/1433 - 7s - loss: 0.0588 - accuracy: 0.9181 - 7s/epoch - 5ms/step
Epoch 22/100
1433/1433 - 7s - loss: 0.0582 - accuracy: 0.9183 - 7s/epoch - 5ms/step
Epoch 23/100
1433/1433 - 7s - loss: 0.0575 - accuracy: 0.9194 - 7s/epoch - 5ms/step
Epoch 24/100
1433/1433 - 7s - loss: 0.0568 - accuracy: 0.9203 - 7s/epoch - 5ms/step
Epoch 25/100
1433/1433 - 7s - loss: 0.0562 - accuracy: 0.9218 - 7s/epoch - 5ms/step
Epoch 26/100
1433/1433 - 7s - loss: 0.0558 - accuracy: 0.9228 - 7s/epoch - 5ms/step
Epoch 27/100
1433/1433 - 7s - loss: 0.0551 - accuracy: 0.9232 - 7s/epoch - 5ms/step
Epoch 28/100
1433/1433 - 7s - loss: 0.0543 - accuracy: 0.9248 - 7s/epoch - 5ms/step
Epoch 29/100
1433/1433 - 7s - loss: 0.0536 - accuracy: 0.9262 - 7s/epoch - 5ms/step
Epoch 30/100
1433/1433 - 7s - loss: 0.0532 - accuracy: 0.9267 - 7s/epoch - 5ms/step
Epoch 31/100
1433/1433 - 7s - loss: 0.0524 - accuracy: 0.9291 - 7s/epoch - 5ms/step
Epoch 32/100
1433/1433 - 7s - loss: 0.0516 - accuracy: 0.9292 - 7s/epoch - 5ms/step
Epoch 33/100
1433/1433 - 7s - loss: 0.0511 - accuracy: 0.9302 - 7s/epoch - 5ms/step
Epoch 34/100
1433/1433 - 7s - loss: 0.0505 - accuracy: 0.9309 - 7s/epoch - 5ms/step
Epoch 35/100
1433/1433 - 7s - loss: 0.0496 - accuracy: 0.9327 - 7s/epoch - 5ms/step
Epoch 36/100
1433/1433 - 7s - loss: 0.0492 - accuracy: 0.9324 - 7s/epoch - 5ms/step
Epoch 37/100
1433/1433 - 7s - loss: 0.0486 - accuracy: 0.9344 - 7s/epoch - 5ms/step
Epoch 38/100
1433/1433 - 7s - loss: 0.0481 - accuracy: 0.9347 - 7s/epoch - 5ms/step
Epoch 39/100
1433/1433 - 7s - loss: 0.0475 - accuracy: 0.9358 - 7s/epoch - 5ms/step
Epoch 40/100
1433/1433 - 7s - loss: 0.0473 - accuracy: 0.9356 - 7s/epoch - 5ms/step
Epoch 41/100
1433/1433 - 7s - loss: 0.0466 - accuracy: 0.9372 - 7s/epoch - 5ms/step
Epoch 42/100
1433/1433 - 7s - loss: 0.0464 - accuracy: 0.9374 - 7s/epoch - 5ms/step
Epoch 43/100
1433/1433 - 7s - loss: 0.0459 - accuracy: 0.9383 - 7s/epoch - 5ms/step
Epoch 44/100
1433/1433 - 7s - loss: 0.0453 - accuracy: 0.9384 - 7s/epoch - 5ms/step
Epoch 45/100
1433/1433 - 7s - loss: 0.0451 - accuracy: 0.9392 - 7s/epoch - 5ms/step
Epoch 46/100
1433/1433 - 7s - loss: 0.0447 - accuracy: 0.9403 - 7s/epoch - 5ms/step
Epoch 47/100
1433/1433 - 7s - loss: 0.0444 - accuracy: 0.9402 - 7s/epoch - 5ms/step
Epoch 48/100
1433/1433 - 7s - loss: 0.0441 - accuracy: 0.9414 - 7s/epoch - 5ms/step
Epoch 49/100
1433/1433 - 7s - loss: 0.0436 - accuracy: 0.9416 - 7s/epoch - 5ms/step
Epoch 50/100
1433/1433 - 7s - loss: 0.0435 - accuracy: 0.9417 - 7s/epoch - 5ms/step
Epoch 51/100
1433/1433 - 7s - loss: 0.0431 - accuracy: 0.9423 - 7s/epoch - 5ms/step
Epoch 52/100
1433/1433 - 7s - loss: 0.0426 - accuracy: 0.9437 - 7s/epoch - 5ms/step
Epoch 53/100
1433/1433 - 7s - loss: 0.0423 - accuracy: 0.9439 - 7s/epoch - 5ms/step
Epoch 54/100
1433/1433 - 7s - loss: 0.0420 - accuracy: 0.9437 - 7s/epoch - 5ms/step
Epoch 55/100
1433/1433 - 7s - loss: 0.0419 - accuracy: 0.9441 - 7s/epoch - 5ms/step
Epoch 56/100
1433/1433 - 7s - loss: 0.0416 - accuracy: 0.9452 - 7s/epoch - 5ms/step
Epoch 57/100
1433/1433 - 7s - loss: 0.0410 - accuracy: 0.9452 - 7s/epoch - 5ms/step
Epoch 58/100
1433/1433 - 7s - loss: 0.0409 - accuracy: 0.9464 - 7s/epoch - 5ms/step
Epoch 59/100
1433/1433 - 7s - loss: 0.0407 - accuracy: 0.9462 - 7s/epoch - 5ms/step
Epoch 60/100
1433/1433 - 7s - loss: 0.0401 - accuracy: 0.9470 - 7s/epoch - 5ms/step
Epoch 61/100
1433/1433 - 7s - loss: 0.0399 - accuracy: 0.9470 - 7s/epoch - 5ms/step
Epoch 62/100
1433/1433 - 7s - loss: 0.0396 - accuracy: 0.9477 - 7s/epoch - 5ms/step
Epoch 63/100
1433/1433 - 7s - loss: 0.0395 - accuracy: 0.9476 - 7s/epoch - 5ms/step
Epoch 64/100
1433/1433 - 7s - loss: 0.0391 - accuracy: 0.9489 - 7s/epoch - 5ms/step
Epoch 65/100
1433/1433 - 7s - loss: 0.0387 - accuracy: 0.9488 - 7s/epoch - 5ms/step
Epoch 66/100
1433/1433 - 7s - loss: 0.0384 - accuracy: 0.9497 - 7s/epoch - 5ms/step
Epoch 67/100
1433/1433 - 7s - loss: 0.0380 - accuracy: 0.9505 - 7s/epoch - 5ms/step
Epoch 68/100
1433/1433 - 7s - loss: 0.0378 - accuracy: 0.9506 - 7s/epoch - 5ms/step
Epoch 69/100
1433/1433 - 7s - loss: 0.0371 - accuracy: 0.9516 - 7s/epoch - 5ms/step
Epoch 70/100
1433/1433 - 7s - loss: 0.0370 - accuracy: 0.9517 - 7s/epoch - 5ms/step
Epoch 71/100
1433/1433 - 7s - loss: 0.0369 - accuracy: 0.9520 - 7s/epoch - 5ms/step
Epoch 72/100
1433/1433 - 7s - loss: 0.0366 - accuracy: 0.9528 - 7s/epoch - 5ms/step
Epoch 73/100
1433/1433 - 7s - loss: 0.0362 - accuracy: 0.9534 - 7s/epoch - 5ms/step
Epoch 74/100
1433/1433 - 7s - loss: 0.0353 - accuracy: 0.9544 - 7s/epoch - 5ms/step
Epoch 75/100
1433/1433 - 7s - loss: 0.0353 - accuracy: 0.9546 - 7s/epoch - 5ms/step
Epoch 76/100
1433/1433 - 7s - loss: 0.0349 - accuracy: 0.9545 - 7s/epoch - 5ms/step
Epoch 77/100
1433/1433 - 7s - loss: 0.0344 - accuracy: 0.9562 - 7s/epoch - 5ms/step
Epoch 78/100
1433/1433 - 7s - loss: 0.0343 - accuracy: 0.9562 - 7s/epoch - 5ms/step
Epoch 79/100
1433/1433 - 7s - loss: 0.0335 - accuracy: 0.9570 - 7s/epoch - 5ms/step
Epoch 80/100
1433/1433 - 7s - loss: 0.0334 - accuracy: 0.9572 - 7s/epoch - 5ms/step
Epoch 81/100
1433/1433 - 7s - loss: 0.0327 - accuracy: 0.9587 - 7s/epoch - 5ms/step
Epoch 82/100
1433/1433 - 7s - loss: 0.0325 - accuracy: 0.9589 - 7s/epoch - 5ms/step
Epoch 83/100
1433/1433 - 7s - loss: 0.0321 - accuracy: 0.9599 - 7s/epoch - 5ms/step
Epoch 84/100
1433/1433 - 7s - loss: 0.0316 - accuracy: 0.9606 - 7s/epoch - 5ms/step
Epoch 85/100
1433/1433 - 7s - loss: 0.0315 - accuracy: 0.9602 - 7s/epoch - 5ms/step
Epoch 86/100
1433/1433 - 7s - loss: 0.0312 - accuracy: 0.9614 - 7s/epoch - 5ms/step
Epoch 87/100
1433/1433 - 7s - loss: 0.0305 - accuracy: 0.9622 - 7s/epoch - 5ms/step
Epoch 88/100
1433/1433 - 7s - loss: 0.0302 - accuracy: 0.9627 - 7s/epoch - 5ms/step
Epoch 89/100
1433/1433 - 7s - loss: 0.0299 - accuracy: 0.9630 - 7s/epoch - 5ms/step
Epoch 90/100
1433/1433 - 7s - loss: 0.0296 - accuracy: 0.9632 - 7s/epoch - 5ms/step
Epoch 91/100
1433/1433 - 7s - loss: 0.0293 - accuracy: 0.9642 - 7s/epoch - 5ms/step
Epoch 92/100
1433/1433 - 7s - loss: 0.0289 - accuracy: 0.9652 - 7s/epoch - 5ms/step
Epoch 93/100
1433/1433 - 7s - loss: 0.0287 - accuracy: 0.9647 - 7s/epoch - 5ms/step
Epoch 94/100
1433/1433 - 7s - loss: 0.0282 - accuracy: 0.9656 - 7s/epoch - 5ms/step
Epoch 95/100
1433/1433 - 7s - loss: 0.0282 - accuracy: 0.9652 - 7s/epoch - 5ms/step
Epoch 96/100
1433/1433 - 7s - loss: 0.0279 - accuracy: 0.9655 - 7s/epoch - 5ms/step
Epoch 97/100
1433/1433 - 7s - loss: 0.0274 - accuracy: 0.9668 - 7s/epoch - 5ms/step
Epoch 98/100
1433/1433 - 7s - loss: 0.0273 - accuracy: 0.9669 - 7s/epoch - 5ms/step
Epoch 99/100
1433/1433 - 7s - loss: 0.0270 - accuracy: 0.9674 - 7s/epoch - 5ms/step
Epoch 100/100
1433/1433 - 7s - loss: 0.0268 - accuracy: 0.9675 - 7s/epoch - 5ms/step

In [26]:
# X_train = np.array(X_train)
# X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))
# X_train.shape

In [27]:
# from tensorflow.keras.utils import to_categorical
# #one-hot encode target column
# y_train = to_categorical(y_train)
# y_test = to_categorical(y_test)

In [28]:
y_test.shape

(39288, 7)

In [29]:
# Model 1 - ANN 
results = model.evaluate(X_test, y_test)
print('Final test set loss', format(results[0]))
print('Final test set accuracy', format(results[1]))

1228/1228 [==============================] - 4s 3ms/step - loss: 0.0290 - accuracy: 0.9654
Final test set loss 0.02896084263920784
Final test set accuracy 0.9654092788696289

In [30]:
predict = model.predict(X_test, batch_size=128)
predict

array([[9.9999750e-01, 5.1500638e-07, 2.3504073e-08, ..., 6.0033038e-08,
        1.1264157e-08, 1.2027664e-09],
       [0.0000000e+00, 6.4414441e-19, 6.4049343e-27, ..., 0.0000000e+00,
        0.0000000e+00, 4.1003516e-28],
       [0.0000000e+00, 1.1400008e-19, 2.5604591e-28, ..., 0.0000000e+00,
        0.0000000e+00, 6.6161116e-29],
       ...,
       [0.0000000e+00, 2.9071670e-18, 8.2624348e-26, ..., 0.0000000e+00,
        0.0000000e+00, 7.0273632e-27],
       [9.9667346e-01, 4.4259094e-05, 1.9902305e-04, ..., 7.7981310e-16,
        6.5074059e-06, 1.7740844e-07],
       [1.5195879e-05, 1.7921018e-04, 7.3653064e-05, ..., 3.4467793e-09,
        7.3670805e-04, 2.9627505e-05]], dtype=float32)

In [31]:
y_pred = np.argmax(predict, axis = 1)

In [32]:
# y_test_cat = to_categorical(y_test) # converting to categorial
y_val =np.argmax(y_test, axis = 1)

In [33]:
print(classification_report(y_val,y_pred))

              precision    recall  f1-score   support

           0       0.95      0.95      0.95      5424
           1       0.25      0.02      0.04        52
           2       0.89      0.86      0.87      2104
           3       0.98      0.99      0.98     28099
           4       0.79      0.56      0.66        34
           5       0.94      0.90      0.92      1905
           6       0.92      0.89      0.91      1670

    accuracy                           0.97     39288
   macro avg       0.82      0.74      0.76     39288
weighted avg       0.96      0.97      0.96     39288

In [34]:
confusion_matrix(y_val,y_pred)

array([[ 5151,     0,    20,   209,     0,     7,    37],
       [    9,     1,     2,    31,     0,     0,     9],
       [   44,     0,  1808,   160,     0,    32,    60],
       [  161,     2,   114, 27737,     5,    55,    25],
       [    4,     0,     0,    10,    19,     0,     1],
       [    8,     0,    20,   154,     0,  1723,     0],
       [   28,     1,    65,    74,     0,    12,  1490]])

In [34]:
# Balanced Dataset

In [35]:
df = pd.concat(data[frame] for frame in data.keys()) 
df = df.reset_index()
df = df.drop(labels = 'index', axis = 1)
df

       State                     Agency Name  ...  Ship Date Station Type
0         AL           ABBEVILLE POLICE DEPT  ... 2018-01-30        State
1         AL           ABBEVILLE POLICE DEPT  ... 2016-06-02        State
2         AL           ABBEVILLE POLICE DEPT  ... 2016-11-09        State
3         AL           ABBEVILLE POLICE DEPT  ... 2016-09-14        State
4         AL           ABBEVILLE POLICE DEPT  ... 2017-03-28        State
...      ...                             ...  ...        ...          ...
130953    WY  WESTON COUNTY SHERIFF'S OFFICE  ... 1993-09-01        State
130954    WY  WESTON COUNTY SHERIFF'S OFFICE  ... 1993-09-01        State
130955    WY  WESTON COUNTY SHERIFF'S OFFICE  ... 1993-09-01        State
130956    WY  WESTON COUNTY SHERIFF'S OFFICE  ... 1993-09-01        State
130957    WY  WESTON COUNTY SHERIFF'S OFFICE  ... 1993-09-01        State

[130958 rows x 11 columns]

In [36]:
df = df.fillna(1)

In [37]:
# We will drop state since all the instances have station type as state which as no significance 
df.groupby('Station Type').count()['State']

Station Type
State    130958
Name: State, dtype: int64

In [38]:
df = df.drop('Station Type', 1)

In [39]:
df

       State                     Agency Name  ... DEMIL IC  Ship Date
0         AL           ABBEVILLE POLICE DEPT  ...      1.0 2018-01-30
1         AL           ABBEVILLE POLICE DEPT  ...      1.0 2016-06-02
2         AL           ABBEVILLE POLICE DEPT  ...      1.0 2016-11-09
3         AL           ABBEVILLE POLICE DEPT  ...      1.0 2016-09-14
4         AL           ABBEVILLE POLICE DEPT  ...      1.0 2017-03-28
...      ...                             ...  ...      ...        ...
130953    WY  WESTON COUNTY SHERIFF'S OFFICE  ...      1.0 1993-09-01
130954    WY  WESTON COUNTY SHERIFF'S OFFICE  ...      1.0 1993-09-01
130955    WY  WESTON COUNTY SHERIFF'S OFFICE  ...      1.0 1993-09-01
130956    WY  WESTON COUNTY SHERIFF'S OFFICE  ...      1.0 1993-09-01
130957    WY  WESTON COUNTY SHERIFF'S OFFICE  ...      1.0 1993-09-01

[130958 rows x 10 columns]

In [40]:
# Sampling the dataset to 10000 for each target label so total instances together is 10000 X 7 = 70000
sample = 10000
df = df.groupby('DEMIL Code').apply(lambda x: x.sample(sample,replace=True))

df = df.droplevel(0).reset_index()
df = df.drop(labels = 'index', axis =1)

In [41]:
from sklearn.preprocessing import LabelEncoder

le =LabelEncoder()

df['State'] = le.fit_transform(df['State'])
df['Agency Name'] = le.fit_transform(df['Agency Name'])
df['NSN'] = le.fit_transform(df['NSN'])
df['Item Name'] = le.fit_transform(df['Item Name'])
df['UI'] = le.fit_transform(df['UI'])
df['DEMIL Code'] = le.fit_transform(df['DEMIL Code'])
df['Ship Date'] = le.fit_transform(df['Ship Date'])
# df['Station Type'] = le.fit_transform(df['Station Type'])

In [42]:
X = df.drop(labels = ['DEMIL Code'], axis = 1)
y = df['DEMIL Code']
# df['State']
X = normalize(X)

# y = to_categorical(y)

X_train, X_test,y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = True)

In [43]:
X_train = np.array(X_train)
X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))
X_train.shape

(49000, 9, 1)

In [44]:
from tensorflow.keras.utils import to_categorical
#one-hot encode target column
y_train = to_categorical(y_train)
y_test = to_categorical(y_test)

In [45]:
model_sample=Sequential()
model_sample.add(Dense(4000,input_dim=X_train.shape[1], activation='relu'))
model_sample.add(Dense(1000,activation='relu'))
model_sample.add(Dense(500,activation='relu'))
model_sample.add(Dense(7,activation='softmax'))

In [46]:
optimizer = Adam(learning_rate=0.0001)
model_sample.compile(optimizer, loss='binary_crossentropy',metrics=['accuracy'])

print('Model summary')
print(model_sample.summary())

Model summary
Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 4000)              40000

 dense_5 (Dense)             (None, 1000)              4001000

 dense_6 (Dense)             (None, 500)               500500

 dense_7 (Dense)             (None, 7)                 3507

=================================================================
Total params: 4,545,007
Trainable params: 4,545,007
Non-trainable params: 0
_________________________________________________________________
None

In [47]:
model_sample.fit(X_train, y_train, verbose=2, batch_size=128,epochs=100)

Epoch 1/100
383/383 - 3s - loss: 0.2977 - accuracy: 0.5587 - 3s/epoch - 8ms/step
Epoch 2/100
383/383 - 2s - loss: 0.2371 - accuracy: 0.6483 - 2s/epoch - 6ms/step
Epoch 3/100
383/383 - 2s - loss: 0.2227 - accuracy: 0.6656 - 2s/epoch - 6ms/step
Epoch 4/100
383/383 - 2s - loss: 0.2110 - accuracy: 0.6774 - 2s/epoch - 6ms/step
Epoch 5/100
383/383 - 2s - loss: 0.2025 - accuracy: 0.6910 - 2s/epoch - 6ms/step
Epoch 6/100
383/383 - 2s - loss: 0.1954 - accuracy: 0.7045 - 2s/epoch - 6ms/step
Epoch 7/100
383/383 - 2s - loss: 0.1897 - accuracy: 0.7145 - 2s/epoch - 6ms/step
Epoch 8/100
383/383 - 2s - loss: 0.1849 - accuracy: 0.7234 - 2s/epoch - 6ms/step
Epoch 9/100
383/383 - 2s - loss: 0.1801 - accuracy: 0.7306 - 2s/epoch - 6ms/step
Epoch 10/100
383/383 - 2s - loss: 0.1756 - accuracy: 0.7383 - 2s/epoch - 6ms/step
Epoch 11/100
383/383 - 2s - loss: 0.1719 - accuracy: 0.7461 - 2s/epoch - 6ms/step
Epoch 12/100
383/383 - 2s - loss: 0.1684 - accuracy: 0.7530 - 2s/epoch - 6ms/step
Epoch 13/100
383/383 - 2s - loss: 0.1649 - accuracy: 0.7598 - 2s/epoch - 6ms/step
Epoch 14/100
383/383 - 2s - loss: 0.1617 - accuracy: 0.7675 - 2s/epoch - 6ms/step
Epoch 15/100
383/383 - 2s - loss: 0.1592 - accuracy: 0.7725 - 2s/epoch - 6ms/step
Epoch 16/100
383/383 - 2s - loss: 0.1563 - accuracy: 0.7782 - 2s/epoch - 6ms/step
Epoch 17/100
383/383 - 2s - loss: 0.1540 - accuracy: 0.7821 - 2s/epoch - 6ms/step
Epoch 18/100
383/383 - 2s - loss: 0.1513 - accuracy: 0.7880 - 2s/epoch - 6ms/step
Epoch 19/100
383/383 - 2s - loss: 0.1493 - accuracy: 0.7891 - 2s/epoch - 6ms/step
Epoch 20/100
383/383 - 2s - loss: 0.1472 - accuracy: 0.7933 - 2s/epoch - 6ms/step
Epoch 21/100
383/383 - 2s - loss: 0.1453 - accuracy: 0.7989 - 2s/epoch - 6ms/step
Epoch 22/100
383/383 - 2s - loss: 0.1434 - accuracy: 0.8013 - 2s/epoch - 6ms/step
Epoch 23/100
383/383 - 2s - loss: 0.1411 - accuracy: 0.8052 - 2s/epoch - 6ms/step
Epoch 24/100
383/383 - 2s - loss: 0.1396 - accuracy: 0.8069 - 2s/epoch - 6ms/step
Epoch 25/100
383/383 - 2s - loss: 0.1378 - accuracy: 0.8110 - 2s/epoch - 6ms/step
Epoch 26/100
383/383 - 2s - loss: 0.1356 - accuracy: 0.8139 - 2s/epoch - 6ms/step
Epoch 27/100
383/383 - 2s - loss: 0.1340 - accuracy: 0.8167 - 2s/epoch - 6ms/step
Epoch 28/100
383/383 - 2s - loss: 0.1324 - accuracy: 0.8192 - 2s/epoch - 6ms/step
Epoch 29/100
383/383 - 2s - loss: 0.1307 - accuracy: 0.8223 - 2s/epoch - 6ms/step
Epoch 30/100
383/383 - 2s - loss: 0.1291 - accuracy: 0.8252 - 2s/epoch - 6ms/step
Epoch 31/100
383/383 - 2s - loss: 0.1277 - accuracy: 0.8262 - 2s/epoch - 6ms/step
Epoch 32/100
383/383 - 2s - loss: 0.1258 - accuracy: 0.8320 - 2s/epoch - 6ms/step
Epoch 33/100
383/383 - 2s - loss: 0.1248 - accuracy: 0.8321 - 2s/epoch - 6ms/step
Epoch 34/100
383/383 - 2s - loss: 0.1235 - accuracy: 0.8353 - 2s/epoch - 6ms/step
Epoch 35/100
383/383 - 2s - loss: 0.1215 - accuracy: 0.8395 - 2s/epoch - 6ms/step
Epoch 36/100
383/383 - 2s - loss: 0.1204 - accuracy: 0.8407 - 2s/epoch - 6ms/step
Epoch 37/100
383/383 - 2s - loss: 0.1191 - accuracy: 0.8428 - 2s/epoch - 6ms/step
Epoch 38/100
383/383 - 2s - loss: 0.1172 - accuracy: 0.8451 - 2s/epoch - 6ms/step
Epoch 39/100
383/383 - 2s - loss: 0.1156 - accuracy: 0.8487 - 2s/epoch - 6ms/step
Epoch 40/100
383/383 - 2s - loss: 0.1150 - accuracy: 0.8501 - 2s/epoch - 6ms/step
Epoch 41/100
383/383 - 2s - loss: 0.1137 - accuracy: 0.8513 - 2s/epoch - 6ms/step
Epoch 42/100
383/383 - 2s - loss: 0.1123 - accuracy: 0.8538 - 2s/epoch - 6ms/step
Epoch 43/100
383/383 - 2s - loss: 0.1104 - accuracy: 0.8570 - 2s/epoch - 6ms/step
Epoch 44/100
383/383 - 2s - loss: 0.1094 - accuracy: 0.8591 - 2s/epoch - 6ms/step
Epoch 45/100
383/383 - 2s - loss: 0.1081 - accuracy: 0.8610 - 2s/epoch - 6ms/step
Epoch 46/100
383/383 - 2s - loss: 0.1071 - accuracy: 0.8613 - 2s/epoch - 6ms/step
Epoch 47/100
383/383 - 2s - loss: 0.1057 - accuracy: 0.8656 - 2s/epoch - 6ms/step
Epoch 48/100
383/383 - 2s - loss: 0.1042 - accuracy: 0.8689 - 2s/epoch - 6ms/step
Epoch 49/100
383/383 - 2s - loss: 0.1034 - accuracy: 0.8695 - 2s/epoch - 6ms/step
Epoch 50/100
383/383 - 2s - loss: 0.1015 - accuracy: 0.8715 - 2s/epoch - 6ms/step
Epoch 51/100
383/383 - 2s - loss: 0.1002 - accuracy: 0.8740 - 2s/epoch - 6ms/step
Epoch 52/100
383/383 - 2s - loss: 0.0991 - accuracy: 0.8743 - 2s/epoch - 6ms/step
Epoch 53/100
383/383 - 2s - loss: 0.0970 - accuracy: 0.8805 - 2s/epoch - 6ms/step
Epoch 54/100
383/383 - 2s - loss: 0.0962 - accuracy: 0.8810 - 2s/epoch - 6ms/step
Epoch 55/100
383/383 - 2s - loss: 0.0953 - accuracy: 0.8823 - 2s/epoch - 6ms/step
Epoch 56/100
383/383 - 2s - loss: 0.0942 - accuracy: 0.8830 - 2s/epoch - 6ms/step
Epoch 57/100
383/383 - 2s - loss: 0.0924 - accuracy: 0.8871 - 2s/epoch - 6ms/step
Epoch 58/100
383/383 - 2s - loss: 0.0915 - accuracy: 0.8889 - 2s/epoch - 6ms/step
Epoch 59/100
383/383 - 2s - loss: 0.0903 - accuracy: 0.8900 - 2s/epoch - 6ms/step
Epoch 60/100
383/383 - 2s - loss: 0.0887 - accuracy: 0.8922 - 2s/epoch - 6ms/step
Epoch 61/100
383/383 - 2s - loss: 0.0884 - accuracy: 0.8930 - 2s/epoch - 6ms/step
Epoch 62/100
383/383 - 2s - loss: 0.0869 - accuracy: 0.8960 - 2s/epoch - 6ms/step
Epoch 63/100
383/383 - 2s - loss: 0.0849 - accuracy: 0.8991 - 2s/epoch - 6ms/step
Epoch 64/100
383/383 - 2s - loss: 0.0856 - accuracy: 0.8973 - 2s/epoch - 6ms/step
Epoch 65/100
383/383 - 2s - loss: 0.0841 - accuracy: 0.9003 - 2s/epoch - 6ms/step
Epoch 66/100
383/383 - 2s - loss: 0.0829 - accuracy: 0.9031 - 2s/epoch - 6ms/step
Epoch 67/100
383/383 - 2s - loss: 0.0823 - accuracy: 0.9039 - 2s/epoch - 6ms/step
Epoch 68/100
383/383 - 2s - loss: 0.0814 - accuracy: 0.9040 - 2s/epoch - 6ms/step
Epoch 69/100
383/383 - 2s - loss: 0.0804 - accuracy: 0.9073 - 2s/epoch - 6ms/step
Epoch 70/100
383/383 - 2s - loss: 0.0793 - accuracy: 0.9081 - 2s/epoch - 6ms/step
Epoch 71/100
383/383 - 2s - loss: 0.0798 - accuracy: 0.9075 - 2s/epoch - 6ms/step
Epoch 72/100
383/383 - 2s - loss: 0.0781 - accuracy: 0.9107 - 2s/epoch - 6ms/step
Epoch 73/100
383/383 - 2s - loss: 0.0770 - accuracy: 0.9123 - 2s/epoch - 6ms/step
Epoch 74/100
383/383 - 2s - loss: 0.0773 - accuracy: 0.9118 - 2s/epoch - 6ms/step
Epoch 75/100
383/383 - 2s - loss: 0.0760 - accuracy: 0.9145 - 2s/epoch - 6ms/step
Epoch 76/100
383/383 - 2s - loss: 0.0758 - accuracy: 0.9128 - 2s/epoch - 6ms/step
Epoch 77/100
383/383 - 2s - loss: 0.0756 - accuracy: 0.9142 - 2s/epoch - 6ms/step
Epoch 78/100
383/383 - 2s - loss: 0.0743 - accuracy: 0.9150 - 2s/epoch - 6ms/step
Epoch 79/100
383/383 - 2s - loss: 0.0751 - accuracy: 0.9136 - 2s/epoch - 6ms/step
Epoch 80/100
383/383 - 2s - loss: 0.0731 - accuracy: 0.9182 - 2s/epoch - 6ms/step
Epoch 81/100
383/383 - 2s - loss: 0.0729 - accuracy: 0.9175 - 2s/epoch - 6ms/step
Epoch 82/100
383/383 - 2s - loss: 0.0720 - accuracy: 0.9189 - 2s/epoch - 6ms/step
Epoch 83/100
383/383 - 2s - loss: 0.0720 - accuracy: 0.9185 - 2s/epoch - 6ms/step
Epoch 84/100
383/383 - 2s - loss: 0.0710 - accuracy: 0.9200 - 2s/epoch - 6ms/step
Epoch 85/100
383/383 - 2s - loss: 0.0706 - accuracy: 0.9210 - 2s/epoch - 6ms/step
Epoch 86/100
383/383 - 2s - loss: 0.0702 - accuracy: 0.9214 - 2s/epoch - 6ms/step
Epoch 87/100
383/383 - 2s - loss: 0.0701 - accuracy: 0.9211 - 2s/epoch - 6ms/step
Epoch 88/100
383/383 - 2s - loss: 0.0697 - accuracy: 0.9222 - 2s/epoch - 6ms/step
Epoch 89/100
383/383 - 2s - loss: 0.0696 - accuracy: 0.9224 - 2s/epoch - 6ms/step
Epoch 90/100
383/383 - 2s - loss: 0.0682 - accuracy: 0.9237 - 2s/epoch - 6ms/step
Epoch 91/100
383/383 - 2s - loss: 0.0689 - accuracy: 0.9222 - 2s/epoch - 6ms/step
Epoch 92/100
383/383 - 2s - loss: 0.0679 - accuracy: 0.9232 - 2s/epoch - 6ms/step
Epoch 93/100
383/383 - 2s - loss: 0.0678 - accuracy: 0.9247 - 2s/epoch - 6ms/step
Epoch 94/100
383/383 - 2s - loss: 0.0672 - accuracy: 0.9251 - 2s/epoch - 6ms/step
Epoch 95/100
383/383 - 2s - loss: 0.0668 - accuracy: 0.9256 - 2s/epoch - 6ms/step
Epoch 96/100
383/383 - 2s - loss: 0.0670 - accuracy: 0.9248 - 2s/epoch - 6ms/step
Epoch 97/100
383/383 - 2s - loss: 0.0659 - accuracy: 0.9258 - 2s/epoch - 6ms/step
Epoch 98/100
383/383 - 2s - loss: 0.0656 - accuracy: 0.9270 - 2s/epoch - 6ms/step
Epoch 99/100
383/383 - 2s - loss: 0.0650 - accuracy: 0.9269 - 2s/epoch - 6ms/step
Epoch 100/100
383/383 - 2s - loss: 0.0655 - accuracy: 0.9263 - 2s/epoch - 6ms/step

In [48]:
# Model 1 - ANN 
results_sample = model_sample.evaluate(X_test, y_test)
print('Final test set loss', format(results_sample[0]))
print('Final test set accuracy', format(results_sample[1]))

657/657 [==============================] - 2s 4ms/step - loss: 0.0671 - accuracy: 0.9241
Final test set loss 0.06707040965557098
Final test set accuracy 0.9240952134132385

In [49]:
predict_sample = model_sample.predict(X_test, batch_size=128)
predict_sample

array([[9.9966359e-01, 5.4118212e-09, 3.6949788e-09, ..., 3.2306957e-09,
        3.2737092e-04, 2.6611638e-06],
       [2.2198164e-34, 3.2056688e-12, 1.2678105e-08, ..., 9.9999464e-01,
        9.0667099e-11, 2.5451106e-07],
       [1.5594561e-16, 1.3930708e-07, 7.1604757e-07, ..., 1.7646209e-11,
        9.9997878e-01, 7.1549844e-06],
       ...,
       [9.9459261e-01, 8.6360897e-06, 5.1435933e-04, ..., 1.9169688e-09,
        7.1408867e-04, 5.0885481e-04],
       [3.8557278e-06, 1.5998914e-09, 5.5470614e-04, ..., 0.0000000e+00,
        7.4437124e-01, 2.0717319e-02],
       [0.0000000e+00, 1.6844274e-33, 1.7217628e-18, ..., 0.0000000e+00,
        3.2489142e-32, 1.3978943e-18]], dtype=float32)

In [50]:
y_pred_sample = np.argmax(predict_sample, axis = 1)

In [51]:
# y_test_cat_sample = to_categorical(y_test) # converting to categorial
y_val_sample =np.argmax(y_test, axis = 1)

In [52]:
print(classification_report(y_val_sample,y_pred_sample))

              precision    recall  f1-score   support

           0       0.94      0.92      0.93      3061
           1       0.93      0.99      0.96      3066
           2       0.81      0.92      0.86      3032
           3       0.98      0.89      0.93      2979
           4       0.99      1.00      0.99      2958
           5       0.92      0.95      0.94      2949
           6       0.92      0.80      0.85      2955

    accuracy                           0.92     21000
   macro avg       0.93      0.92      0.92     21000
weighted avg       0.93      0.92      0.92     21000

In [53]:
confusion_matrix(y_val_sample,y_pred_sample)

array([[2809,   78,   64,   22,    4,   40,   44],
       [   0, 3046,   20,    0,    0,    0,    0],
       [  46,   21, 2787,   14,    3,   83,   78],
       [  66,   50,   86, 2642,    8,   54,   73],
       [   0,    0,    0,    0, 2958,    0,    0],
       [  18,    6,   96,    2,    5, 2808,   14],
       [  50,   63,  397,    7,   14,   68, 2356]])

In [54]:
y_train[0]

array([0., 0., 1., 0., 0., 0., 0.], dtype=float32)