In [4]:
!nvidia-smi

Sun Dec  5 08:34:56 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 495.44       Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla K80           Off  | 00000000:00:04.0 Off |                    0 |
| N/A   68C    P8    33W / 149W |      0MiB / 11441MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [5]:
import numpy as np
import pandas as pd

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
data = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/AllStatesAndTerritoriesQTR4FY21.xlsx', sheet_name = None)

In [8]:
data.keys()

dict_keys(['ALABAMA', 'ALASKA', 'ARIZONA', 'ARKANSAS', 'CALIFORNIA', 'COLORADO', 'CONNECTICUT', 'DELAWARE', 'FLORIDA', 'GEORGIA', 'GUAM', 'IDAHO', 'ILLINOIS', 'INDIANA', 'IOWA', 'KANSAS', 'KENTUCKY', 'LOUISIANA', 'MAINE', 'MARYLAND', 'MASSACHUSETTS', 'MICHIGAN', 'MINNESOTA', 'MISSISSIPPI', 'MISSOURI', 'MONTANA', 'NEBRASKA', 'NEVADA', 'NEW HAMPSHIRE', 'NEW JERSEY', 'NEW MEXICO', 'NEW YORK', 'NORTH CAROLINA', 'NORTH DAKOTA', 'NORTHERN MARIANA ISLANDS', 'OHIO', 'OKLAHOMA', 'OREGON', 'PENNSYLVANIA', 'PUERTO RICO', 'RHODE ISLAND', 'SOUTH CAROLINA', 'SOUTH DAKOTA', 'TENNESSEE', 'TEXAS', 'UTAH', 'VERMONT', 'VIRGIN ISLANDS OF THE U.S.', 'VIRGINIA', 'WASHINGTON', 'WEST VIRGINIA', 'WISCONSIN', 'WYOMING'])

In [9]:
df = pd.concat(data[frame] for frame in data.keys())

In [10]:
df = df.reset_index()

In [11]:
df = df.drop(labels = 'index', axis = 1)
df

       State                     Agency Name  ...  Ship Date Station Type
0         AL           ABBEVILLE POLICE DEPT  ... 2018-01-30        State
1         AL           ABBEVILLE POLICE DEPT  ... 2016-06-02        State
2         AL           ABBEVILLE POLICE DEPT  ... 2016-11-09        State
3         AL           ABBEVILLE POLICE DEPT  ... 2016-09-14        State
4         AL           ABBEVILLE POLICE DEPT  ... 2017-03-28        State
...      ...                             ...  ...        ...          ...
130953    WY  WESTON COUNTY SHERIFF'S OFFICE  ... 1993-09-01        State
130954    WY  WESTON COUNTY SHERIFF'S OFFICE  ... 1993-09-01        State
130955    WY  WESTON COUNTY SHERIFF'S OFFICE  ... 1993-09-01        State
130956    WY  WESTON COUNTY SHERIFF'S OFFICE  ... 1993-09-01        State
130957    WY  WESTON COUNTY SHERIFF'S OFFICE  ... 1993-09-01        State

[130958 rows x 11 columns]

In [12]:
df.count()

State                130958
Agency Name          130958
NSN                  130958
Item Name            130958
Quantity             130958
UI                   130958
Acquisition Value    130958
DEMIL Code           130958
DEMIL IC             121048
Ship Date            130958
Station Type         130958
dtype: int64

In [13]:
# There are 814 rows that are having null values and all are from column DEMIL IC
df.isnull().sum()

State                   0
Agency Name             0
NSN                     0
Item Name               0
Quantity                0
UI                      0
Acquisition Value       0
DEMIL Code              0
DEMIL IC             9910
Ship Date               0
Station Type            0
dtype: int64

In [14]:
df = df.fillna(1)

In [15]:
# We will drop state since all the instances have station type as state which as no significance 
df.groupby('Station Type').count()['State']

Station Type
State    130958
Name: State, dtype: int64

In [16]:
df = df.drop('Station Type', 1)

In [17]:
df

       State                     Agency Name  ... DEMIL IC  Ship Date
0         AL           ABBEVILLE POLICE DEPT  ...      1.0 2018-01-30
1         AL           ABBEVILLE POLICE DEPT  ...      1.0 2016-06-02
2         AL           ABBEVILLE POLICE DEPT  ...      1.0 2016-11-09
3         AL           ABBEVILLE POLICE DEPT  ...      1.0 2016-09-14
4         AL           ABBEVILLE POLICE DEPT  ...      1.0 2017-03-28
...      ...                             ...  ...      ...        ...
130953    WY  WESTON COUNTY SHERIFF'S OFFICE  ...      1.0 1993-09-01
130954    WY  WESTON COUNTY SHERIFF'S OFFICE  ...      1.0 1993-09-01
130955    WY  WESTON COUNTY SHERIFF'S OFFICE  ...      1.0 1993-09-01
130956    WY  WESTON COUNTY SHERIFF'S OFFICE  ...      1.0 1993-09-01
130957    WY  WESTON COUNTY SHERIFF'S OFFICE  ...      1.0 1993-09-01

[130958 rows x 10 columns]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130958 entries, 0 to 130957
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   State              130958 non-null  object
 1   Agency Name        130958 non-null  object
 2   NSN                130958 non-null  object
 3   Item Name          130958 non-null  object
 4   Quantity           130958 non-null  int64
 5   UI                 130958 non-null  object
 6   Acquisition Value  130958 non-null  float64
 7   DEMIL Code         130958 non-null  object
 8   DEMIL IC           130958 non-null  float64
 9   Ship Date          130958 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 10.0+ MB

In [19]:
from sklearn.preprocessing import LabelEncoder

le =LabelEncoder()

df['State'] = le.fit_transform(df['State'])
df['Agency Name'] = le.fit_transform(df['Agency Name'])
df['NSN'] = le.fit_transform(df['NSN'])
df['Item Name'] = le.fit_transform(df['Item Name'])
df['UI'] = le.fit_transform(df['UI'])
df['DEMIL Code'] = le.fit_transform(df['DEMIL Code'])
df['Ship Date'] = le.fit_transform(df['Ship Date'])

In [20]:
df.corr()

                      State  Agency Name  ...  DEMIL IC  Ship Date
State              1.000000     0.007716  ...  0.009781   0.061788
Agency Name        0.007716     1.000000  ... -0.004451   0.015957
NSN                0.009308     0.021460  ...  0.160561   0.632406
Item Name          0.008374    -0.012198  ... -0.028624  -0.257155
Quantity          -0.010061     0.007939  ... -0.004195   0.099630
UI                -0.014232     0.026054  ... -0.009302   0.152234
Acquisition Value  0.001140    -0.004720  ...  0.025192   0.053920
DEMIL Code         0.005336    -0.031039  ...  0.287777  -0.392149
DEMIL IC           0.009781    -0.004451  ...  1.000000   0.166042
Ship Date          0.061788     0.015957  ...  0.166042   1.000000

[10 rows x 10 columns]

In [21]:
from tensorflow.keras.optimizers import Adam
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from keras.models import Sequential
from keras.layers import Dense

In [22]:
from sklearn.preprocessing import normalize
from tensorflow.keras.utils import to_categorical

# 'State','Ship Date', 'Agency Name', 'NSN', 'Item Name', 'Acquisition Value',
#                      'DEMIL Code' , 'DEMIL IC'

X = df.drop(labels = ['DEMIL Code' ], axis = 1)

y = df['DEMIL Code']
# y = df.iloc[:, 0:1]
# df['State']
X = normalize(X)

# y = to_categorical(y)

X_train, X_test,y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = True)

In [23]:
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [24]:
df

        State  Agency Name   NSN  ...  DEMIL Code  DEMIL IC  Ship Date
0           1            9  2255  ...           3       1.0       4064
1           1            9   766  ...           3       1.0       3600
2           1            9  1951  ...           2       1.0       3724
3           1            9   608  ...           3       1.0       3677
4           1            9  5631  ...           3       1.0       3832
...       ...          ...   ...  ...         ...       ...        ...
130953     52         5427    39  ...           3       1.0         22
130954     52         5427    39  ...           3       1.0         22
130955     52         5427    39  ...           3       1.0         22
130956     52         5427    39  ...           3       1.0         22
130957     52         5427    39  ...           3       1.0         22

[130958 rows x 10 columns]

In [25]:
X_train #State #	Agency Name	NSN	Item Name	Quantity	UI	Acquisition Value	DEMIL Code	DEMIL IC	Ship Date	Station Type

array([[2.61332951e-04, 2.56498291e-01, 5.57815183e-01, ...,
        4.10031399e-03, 1.30666475e-04, 6.11780437e-01],
       [4.23698044e-03, 2.82430915e-01, 5.60624850e-01, ...,
        5.49154001e-01, 1.03340986e-04, 3.94969249e-01],
       [9.90413176e-03, 5.55981942e-01, 1.37307281e-02, ...,
        1.32152631e-02, 2.25093904e-04, 4.98582996e-01],
       ...,
       [3.77333989e-03, 4.53409390e-01, 5.76103796e-01, ...,
        1.02245339e-03, 1.21720642e-04, 5.88154140e-01],
       [7.47117938e-03, 8.50985554e-02, 1.20085542e-01, ...,
        6.06805545e-02, 1.82223887e-04, 7.16139877e-01],
       [9.82978305e-03, 3.91028770e-01, 2.45744576e-02, ...,
        1.47250150e-01, 1.96595661e-04, 6.20259310e-01]])

In [26]:
X_train = np.array(X_train)
X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))
X_train.shape

(91670, 9, 1)

In [27]:
from tensorflow.keras.utils import to_categorical
#one-hot encode target column
y_train = to_categorical(y_train)
y_test = to_categorical(y_test)

In [28]:
from keras.models import Sequential
from keras.layers import Dense, Conv1D, Flatten, MaxPooling1D
from keras.layers import Dropout
model2=Sequential()
model2.add(Conv1D(filters=64, kernel_size=3, activation='relu', input_shape= (X_train.shape[1], X_train.shape[2] )))
model2.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
model2.add(Dropout(0.5))
model2.add(MaxPooling1D(pool_size=2))
model2.add(Flatten())
model2.add(Dense(100, activation='relu'))
model2.add(Dense(7, activation='softmax'))

In [29]:
from tensorflow.keras.optimizers import Adam
model2.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
# optimizer = Adam(learning_rate=0.001)
# model.compile(optimizer, loss='sparse_categorical_crossentropy',metrics=['accuracy'])

print('Model summary')
print(model2.summary())

Model summary
Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d (Conv1D)             (None, 7, 64)             256

 conv1d_1 (Conv1D)           (None, 5, 64)             12352

 dropout (Dropout)           (None, 5, 64)             0

 max_pooling1d (MaxPooling1D  (None, 2, 64)            0
 )

 flatten (Flatten)           (None, 128)               0

 dense (Dense)               (None, 100)               12900

 dense_1 (Dense)             (None, 7)                 707

=================================================================
Total params: 26,215
Trainable params: 26,215
Non-trainable params: 0
_________________________________________________________________
None

In [30]:
model2.fit(X_train, y_train, verbose=2, batch_size=128,epochs=100) # 84.60

Epoch 1/100
717/717 - 16s - loss: 0.1373 - accuracy: 0.7984 - 16s/epoch - 23ms/step
Epoch 2/100
717/717 - 3s - loss: 0.1063 - accuracy: 0.8370 - 3s/epoch - 5ms/step
Epoch 3/100
717/717 - 3s - loss: 0.1019 - accuracy: 0.8497 - 3s/epoch - 4ms/step
Epoch 4/100
717/717 - 3s - loss: 0.0987 - accuracy: 0.8546 - 3s/epoch - 5ms/step
Epoch 5/100
717/717 - 3s - loss: 0.0965 - accuracy: 0.8582 - 3s/epoch - 4ms/step
Epoch 6/100
717/717 - 3s - loss: 0.0939 - accuracy: 0.8603 - 3s/epoch - 5ms/step
Epoch 7/100
717/717 - 3s - loss: 0.0919 - accuracy: 0.8620 - 3s/epoch - 5ms/step
Epoch 8/100
717/717 - 3s - loss: 0.0899 - accuracy: 0.8656 - 3s/epoch - 4ms/step
Epoch 9/100
717/717 - 3s - loss: 0.0882 - accuracy: 0.8679 - 3s/epoch - 5ms/step
Epoch 10/100
717/717 - 3s - loss: 0.0868 - accuracy: 0.8695 - 3s/epoch - 5ms/step
Epoch 11/100
717/717 - 3s - loss: 0.0852 - accuracy: 0.8713 - 3s/epoch - 5ms/step
Epoch 12/100
717/717 - 3s - loss: 0.0842 - accuracy: 0.8726 - 3s/epoch - 5ms/step
Epoch 13/100
717/717 - 3s - loss: 0.0834 - accuracy: 0.8742 - 3s/epoch - 5ms/step
Epoch 14/100
717/717 - 3s - loss: 0.0820 - accuracy: 0.8766 - 3s/epoch - 4ms/step
Epoch 15/100
717/717 - 3s - loss: 0.0814 - accuracy: 0.8778 - 3s/epoch - 5ms/step
Epoch 16/100
717/717 - 3s - loss: 0.0807 - accuracy: 0.8805 - 3s/epoch - 5ms/step
Epoch 17/100
717/717 - 3s - loss: 0.0802 - accuracy: 0.8806 - 3s/epoch - 5ms/step
Epoch 18/100
717/717 - 3s - loss: 0.0797 - accuracy: 0.8815 - 3s/epoch - 5ms/step
Epoch 19/100
717/717 - 3s - loss: 0.0790 - accuracy: 0.8834 - 3s/epoch - 5ms/step
Epoch 20/100
717/717 - 3s - loss: 0.0786 - accuracy: 0.8845 - 3s/epoch - 5ms/step
Epoch 21/100
717/717 - 3s - loss: 0.0780 - accuracy: 0.8855 - 3s/epoch - 4ms/step
Epoch 22/100
717/717 - 3s - loss: 0.0778 - accuracy: 0.8860 - 3s/epoch - 5ms/step
Epoch 23/100
717/717 - 3s - loss: 0.0775 - accuracy: 0.8860 - 3s/epoch - 5ms/step
Epoch 24/100
717/717 - 3s - loss: 0.0769 - accuracy: 0.8870 - 3s/epoch - 5ms/step
Epoch 25/100
717/717 - 3s - loss: 0.0766 - accuracy: 0.8869 - 3s/epoch - 5ms/step
Epoch 26/100
717/717 - 3s - loss: 0.0763 - accuracy: 0.8887 - 3s/epoch - 5ms/step
Epoch 27/100
717/717 - 3s - loss: 0.0759 - accuracy: 0.8894 - 3s/epoch - 5ms/step
Epoch 28/100
717/717 - 3s - loss: 0.0754 - accuracy: 0.8890 - 3s/epoch - 5ms/step
Epoch 29/100
717/717 - 3s - loss: 0.0751 - accuracy: 0.8905 - 3s/epoch - 5ms/step
Epoch 30/100
717/717 - 3s - loss: 0.0751 - accuracy: 0.8911 - 3s/epoch - 5ms/step
Epoch 31/100
717/717 - 3s - loss: 0.0748 - accuracy: 0.8911 - 3s/epoch - 5ms/step
Epoch 32/100
717/717 - 3s - loss: 0.0746 - accuracy: 0.8914 - 3s/epoch - 5ms/step
Epoch 33/100
717/717 - 3s - loss: 0.0742 - accuracy: 0.8916 - 3s/epoch - 5ms/step
Epoch 34/100
717/717 - 3s - loss: 0.0741 - accuracy: 0.8924 - 3s/epoch - 4ms/step
Epoch 35/100
717/717 - 3s - loss: 0.0736 - accuracy: 0.8935 - 3s/epoch - 5ms/step
Epoch 36/100
717/717 - 3s - loss: 0.0732 - accuracy: 0.8939 - 3s/epoch - 5ms/step
Epoch 37/100
717/717 - 3s - loss: 0.0734 - accuracy: 0.8935 - 3s/epoch - 5ms/step
Epoch 38/100
717/717 - 3s - loss: 0.0729 - accuracy: 0.8941 - 3s/epoch - 5ms/step
Epoch 39/100
717/717 - 3s - loss: 0.0726 - accuracy: 0.8954 - 3s/epoch - 5ms/step
Epoch 40/100
717/717 - 3s - loss: 0.0722 - accuracy: 0.8956 - 3s/epoch - 5ms/step
Epoch 41/100
717/717 - 3s - loss: 0.0725 - accuracy: 0.8945 - 3s/epoch - 5ms/step
Epoch 42/100
717/717 - 3s - loss: 0.0721 - accuracy: 0.8959 - 3s/epoch - 5ms/step
Epoch 43/100
717/717 - 3s - loss: 0.0721 - accuracy: 0.8961 - 3s/epoch - 4ms/step
Epoch 44/100
717/717 - 3s - loss: 0.0720 - accuracy: 0.8962 - 3s/epoch - 5ms/step
Epoch 45/100
717/717 - 3s - loss: 0.0718 - accuracy: 0.8957 - 3s/epoch - 5ms/step
Epoch 46/100
717/717 - 3s - loss: 0.0714 - accuracy: 0.8970 - 3s/epoch - 4ms/step
Epoch 47/100
717/717 - 3s - loss: 0.0712 - accuracy: 0.8978 - 3s/epoch - 5ms/step
Epoch 48/100
717/717 - 3s - loss: 0.0712 - accuracy: 0.8972 - 3s/epoch - 5ms/step
Epoch 49/100
717/717 - 3s - loss: 0.0712 - accuracy: 0.8974 - 3s/epoch - 5ms/step
Epoch 50/100
717/717 - 3s - loss: 0.0707 - accuracy: 0.8979 - 3s/epoch - 5ms/step
Epoch 51/100
717/717 - 3s - loss: 0.0706 - accuracy: 0.8985 - 3s/epoch - 5ms/step
Epoch 52/100
717/717 - 3s - loss: 0.0707 - accuracy: 0.8985 - 3s/epoch - 5ms/step
Epoch 53/100
717/717 - 3s - loss: 0.0700 - accuracy: 0.8998 - 3s/epoch - 5ms/step
Epoch 54/100
717/717 - 3s - loss: 0.0703 - accuracy: 0.8981 - 3s/epoch - 5ms/step
Epoch 55/100
717/717 - 3s - loss: 0.0700 - accuracy: 0.8992 - 3s/epoch - 5ms/step
Epoch 56/100
717/717 - 3s - loss: 0.0699 - accuracy: 0.8996 - 3s/epoch - 5ms/step
Epoch 57/100
717/717 - 3s - loss: 0.0700 - accuracy: 0.8988 - 3s/epoch - 5ms/step
Epoch 58/100
717/717 - 3s - loss: 0.0698 - accuracy: 0.8994 - 3s/epoch - 5ms/step
Epoch 59/100
717/717 - 3s - loss: 0.0695 - accuracy: 0.9003 - 3s/epoch - 5ms/step
Epoch 60/100
717/717 - 3s - loss: 0.0695 - accuracy: 0.9003 - 3s/epoch - 5ms/step
Epoch 61/100
717/717 - 3s - loss: 0.0695 - accuracy: 0.9008 - 3s/epoch - 5ms/step
Epoch 62/100
717/717 - 3s - loss: 0.0695 - accuracy: 0.9001 - 3s/epoch - 5ms/step
Epoch 63/100
717/717 - 3s - loss: 0.0689 - accuracy: 0.9018 - 3s/epoch - 5ms/step
Epoch 64/100
717/717 - 3s - loss: 0.0688 - accuracy: 0.9013 - 3s/epoch - 5ms/step
Epoch 65/100
717/717 - 3s - loss: 0.0686 - accuracy: 0.9013 - 3s/epoch - 5ms/step
Epoch 66/100
717/717 - 3s - loss: 0.0685 - accuracy: 0.9014 - 3s/epoch - 5ms/step
Epoch 67/100
717/717 - 3s - loss: 0.0684 - accuracy: 0.9020 - 3s/epoch - 5ms/step
Epoch 68/100
717/717 - 3s - loss: 0.0683 - accuracy: 0.9027 - 3s/epoch - 5ms/step
Epoch 69/100
717/717 - 3s - loss: 0.0683 - accuracy: 0.9022 - 3s/epoch - 5ms/step
Epoch 70/100
717/717 - 3s - loss: 0.0684 - accuracy: 0.9023 - 3s/epoch - 5ms/step
Epoch 71/100
717/717 - 3s - loss: 0.0681 - accuracy: 0.9028 - 3s/epoch - 5ms/step
Epoch 72/100
717/717 - 3s - loss: 0.0680 - accuracy: 0.9032 - 3s/epoch - 5ms/step
Epoch 73/100
717/717 - 3s - loss: 0.0680 - accuracy: 0.9026 - 3s/epoch - 5ms/step
Epoch 74/100
717/717 - 3s - loss: 0.0676 - accuracy: 0.9032 - 3s/epoch - 5ms/step
Epoch 75/100
717/717 - 3s - loss: 0.0674 - accuracy: 0.9041 - 3s/epoch - 5ms/step
Epoch 76/100
717/717 - 3s - loss: 0.0674 - accuracy: 0.9036 - 3s/epoch - 4ms/step
Epoch 77/100
717/717 - 3s - loss: 0.0673 - accuracy: 0.9045 - 3s/epoch - 5ms/step
Epoch 78/100
717/717 - 3s - loss: 0.0671 - accuracy: 0.9039 - 3s/epoch - 5ms/step
Epoch 79/100
717/717 - 3s - loss: 0.0675 - accuracy: 0.9045 - 3s/epoch - 5ms/step
Epoch 80/100
717/717 - 3s - loss: 0.0671 - accuracy: 0.9036 - 3s/epoch - 5ms/step
Epoch 81/100
717/717 - 3s - loss: 0.0667 - accuracy: 0.9050 - 3s/epoch - 5ms/step
Epoch 82/100
717/717 - 3s - loss: 0.0668 - accuracy: 0.9044 - 3s/epoch - 5ms/step
Epoch 83/100
717/717 - 3s - loss: 0.0668 - accuracy: 0.9045 - 3s/epoch - 5ms/step
Epoch 84/100
717/717 - 3s - loss: 0.0665 - accuracy: 0.9056 - 3s/epoch - 5ms/step
Epoch 85/100
717/717 - 3s - loss: 0.0667 - accuracy: 0.9055 - 3s/epoch - 5ms/step
Epoch 86/100
717/717 - 3s - loss: 0.0664 - accuracy: 0.9049 - 3s/epoch - 5ms/step
Epoch 87/100
717/717 - 3s - loss: 0.0662 - accuracy: 0.9056 - 3s/epoch - 5ms/step
Epoch 88/100
717/717 - 3s - loss: 0.0660 - accuracy: 0.9060 - 3s/epoch - 5ms/step
Epoch 89/100
717/717 - 3s - loss: 0.0660 - accuracy: 0.9056 - 3s/epoch - 5ms/step
Epoch 90/100
717/717 - 3s - loss: 0.0660 - accuracy: 0.9060 - 3s/epoch - 5ms/step
Epoch 91/100
717/717 - 3s - loss: 0.0656 - accuracy: 0.9065 - 3s/epoch - 5ms/step
Epoch 92/100
717/717 - 3s - loss: 0.0658 - accuracy: 0.9063 - 3s/epoch - 5ms/step
Epoch 93/100
717/717 - 3s - loss: 0.0655 - accuracy: 0.9066 - 3s/epoch - 5ms/step
Epoch 94/100
717/717 - 3s - loss: 0.0658 - accuracy: 0.9058 - 3s/epoch - 5ms/step
Epoch 95/100
717/717 - 3s - loss: 0.0659 - accuracy: 0.9060 - 3s/epoch - 5ms/step
Epoch 96/100
717/717 - 3s - loss: 0.0655 - accuracy: 0.9062 - 3s/epoch - 5ms/step
Epoch 97/100
717/717 - 3s - loss: 0.0653 - accuracy: 0.9069 - 3s/epoch - 5ms/step
Epoch 98/100
717/717 - 3s - loss: 0.0651 - accuracy: 0.9081 - 3s/epoch - 5ms/step
Epoch 99/100
717/717 - 3s - loss: 0.0653 - accuracy: 0.9070 - 3s/epoch - 5ms/step
Epoch 100/100
717/717 - 3s - loss: 0.0650 - accuracy: 0.9082 - 3s/epoch - 5ms/step

In [31]:
predict2 = model2.predict(X_test, batch_size=128)
predict2

array([[9.9881244e-01, 2.7947955e-05, 2.2730695e-05, ..., 3.7179117e-05,
        1.2003449e-05, 5.2881963e-04],
       [9.0269783e-16, 1.6589686e-13, 2.4790857e-16, ..., 1.4509782e-23,
        2.3117304e-32, 5.5185950e-13],
       [4.3503665e-16, 1.4081497e-13, 1.8992009e-16, ..., 8.6223783e-24,
        1.5147403e-32, 3.4540545e-13],
       ...,
       [1.0110976e-14, 3.8711623e-13, 1.2205374e-15, ..., 9.5070443e-23,
        1.7281936e-31, 4.6872727e-12],
       [9.8120761e-01, 4.2131939e-04, 2.9799705e-03, ..., 8.0346285e-07,
        2.6013784e-04, 8.6940946e-03],
       [1.8730122e-01, 1.4588715e-03, 6.1049429e-03, ..., 2.8138604e-05,
        1.4011881e-01, 7.8397147e-02]], dtype=float32)

In [32]:
# Model 2 - CNN 
results2 = model2.evaluate(X_test, y_test)
print('Final test set loss', format(results2[0]))
print('Final test set accuracy', format(results2[1]))

1228/1228 [==============================] - 5s 4ms/step - loss: 0.0607 - accuracy: 0.9153
Final test set loss 0.06068933382630348
Final test set accuracy 0.9153176546096802

In [33]:
y_pred2 = np.argmax(predict2,axis=1)

In [34]:
y_val2 =np.argmax(y_test, axis=1)

In [35]:
print(classification_report(y_val2,y_pred2))

              precision    recall  f1-score   support

           0       0.82      0.92      0.87      5424
           1       0.00      0.00      0.00        52
           2       0.78      0.81      0.79      2104
           3       0.96      0.97      0.96     28099
           4       0.00      0.00      0.00        34
           5       0.81      0.84      0.82      1905
           6       0.65      0.29      0.40      1670

    accuracy                           0.92     39288
   macro avg       0.57      0.55      0.55     39288
weighted avg       0.91      0.92      0.91     39288

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [36]:
confusion_matrix(y_val2, y_pred2)

array([[ 4969,     0,    53,   291,     0,    66,    45],
       [   24,     0,     1,    17,     0,     3,     7],
       [  118,     0,  1701,   181,     0,    71,    33],
       [  385,     0,   123, 27214,     2,   207,   168],
       [    4,     0,     0,    30,     0,     0,     0],
       [   42,     0,    47,   218,     0,  1595,     3],
       [  510,     0,   254,   388,     0,    36,   482]])

In [36]:
# Balanced Dataset

In [37]:
df = pd.concat(data[frame] for frame in data.keys()) 
df = df.reset_index()
df = df.drop(labels = 'index', axis = 1)
df

       State                     Agency Name  ...  Ship Date Station Type
0         AL           ABBEVILLE POLICE DEPT  ... 2018-01-30        State
1         AL           ABBEVILLE POLICE DEPT  ... 2016-06-02        State
2         AL           ABBEVILLE POLICE DEPT  ... 2016-11-09        State
3         AL           ABBEVILLE POLICE DEPT  ... 2016-09-14        State
4         AL           ABBEVILLE POLICE DEPT  ... 2017-03-28        State
...      ...                             ...  ...        ...          ...
130953    WY  WESTON COUNTY SHERIFF'S OFFICE  ... 1993-09-01        State
130954    WY  WESTON COUNTY SHERIFF'S OFFICE  ... 1993-09-01        State
130955    WY  WESTON COUNTY SHERIFF'S OFFICE  ... 1993-09-01        State
130956    WY  WESTON COUNTY SHERIFF'S OFFICE  ... 1993-09-01        State
130957    WY  WESTON COUNTY SHERIFF'S OFFICE  ... 1993-09-01        State

[130958 rows x 11 columns]

In [38]:
df = df.fillna(1)

In [39]:
# We will drop state since all the instances have station type as state which as no significance 
df.groupby('Station Type').count()['State']

Station Type
State    130958
Name: State, dtype: int64

In [40]:
df = df.drop('Station Type', 1)

In [41]:
df

       State                     Agency Name  ... DEMIL IC  Ship Date
0         AL           ABBEVILLE POLICE DEPT  ...      1.0 2018-01-30
1         AL           ABBEVILLE POLICE DEPT  ...      1.0 2016-06-02
2         AL           ABBEVILLE POLICE DEPT  ...      1.0 2016-11-09
3         AL           ABBEVILLE POLICE DEPT  ...      1.0 2016-09-14
4         AL           ABBEVILLE POLICE DEPT  ...      1.0 2017-03-28
...      ...                             ...  ...      ...        ...
130953    WY  WESTON COUNTY SHERIFF'S OFFICE  ...      1.0 1993-09-01
130954    WY  WESTON COUNTY SHERIFF'S OFFICE  ...      1.0 1993-09-01
130955    WY  WESTON COUNTY SHERIFF'S OFFICE  ...      1.0 1993-09-01
130956    WY  WESTON COUNTY SHERIFF'S OFFICE  ...      1.0 1993-09-01
130957    WY  WESTON COUNTY SHERIFF'S OFFICE  ...      1.0 1993-09-01

[130958 rows x 10 columns]

In [42]:
from sklearn.preprocessing import LabelEncoder

le =LabelEncoder()

df['State'] = le.fit_transform(df['State'])
df['Agency Name'] = le.fit_transform(df['Agency Name'])
df['NSN'] = le.fit_transform(df['NSN'])
df['Item Name'] = le.fit_transform(df['Item Name'])
df['UI'] = le.fit_transform(df['UI'])
df['DEMIL Code'] = le.fit_transform(df['DEMIL Code'])
df['Ship Date'] = le.fit_transform(df['Ship Date'])

In [43]:
# Sampling the dataset to 10000 for each target label so total instances together is 10000 X 7 = 70000
sample = 10000
df = df.groupby('DEMIL Code').apply(lambda x: x.sample(sample,replace=True))

df = df.droplevel(0).reset_index()
df = df.drop(labels = 'index', axis =1)

In [44]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

X = df.drop(labels = ['DEMIL Code'], axis = 1)
y = df['DEMIL Code']
# df['State']
X = normalize(X)

# y = to_categorical(y)

X_train, X_test,y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = True)

In [45]:
X_train = np.array(X_train)
X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))
X_train.shape

(49000, 9, 1)

In [46]:
from tensorflow.keras.utils import to_categorical
#one-hot encode target column
y_train = to_categorical(y_train)
y_test = to_categorical(y_test)

In [47]:
from keras.models import Sequential
from keras.layers import Dense, Conv1D, Flatten, MaxPooling1D
from keras.layers import Dropout

model2_sample=Sequential()
model2_sample.add(Conv1D(filters=64, kernel_size=3, activation='relu', input_shape= (X_train.shape[1], X_train.shape[2] )))
model2_sample.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
model2_sample.add(Dropout(0.5))
model2_sample.add(MaxPooling1D(pool_size=2))
model2_sample.add(Flatten())
model2_sample.add(Dense(100, activation='relu'))
model2_sample.add(Dense(7, activation='softmax'))

In [48]:
model2_sample.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
# optimizer = Adam(learning_rate=0.001)
# model.compile(optimizer, loss='sparse_categorical_crossentropy',metrics=['accuracy'])

print('Model summary')
print(model2_sample.summary())

Model summary
Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d_2 (Conv1D)           (None, 7, 64)             256

 conv1d_3 (Conv1D)           (None, 5, 64)             12352

 dropout_1 (Dropout)         (None, 5, 64)             0

 max_pooling1d_1 (MaxPooling  (None, 2, 64)            0
 1D)

 flatten_1 (Flatten)         (None, 128)               0

 dense_2 (Dense)             (None, 100)               12900

 dense_3 (Dense)             (None, 7)                 707

=================================================================
Total params: 26,215
Trainable params: 26,215
Non-trainable params: 0
_________________________________________________________________
None

In [49]:
model2_sample.fit(X_train, y_train, verbose=2, batch_size=128,epochs=100)

Epoch 1/100
383/383 - 3s - loss: 0.3214 - accuracy: 0.4870 - 3s/epoch - 7ms/step
Epoch 2/100
383/383 - 2s - loss: 0.2681 - accuracy: 0.5743 - 2s/epoch - 5ms/step
Epoch 3/100
383/383 - 2s - loss: 0.2556 - accuracy: 0.5954 - 2s/epoch - 5ms/step
Epoch 4/100
383/383 - 2s - loss: 0.2482 - accuracy: 0.6052 - 2s/epoch - 5ms/step
Epoch 5/100
383/383 - 2s - loss: 0.2411 - accuracy: 0.6169 - 2s/epoch - 4ms/step
Epoch 6/100
383/383 - 2s - loss: 0.2338 - accuracy: 0.6321 - 2s/epoch - 5ms/step
Epoch 7/100
383/383 - 2s - loss: 0.2255 - accuracy: 0.6504 - 2s/epoch - 4ms/step
Epoch 8/100
383/383 - 2s - loss: 0.2181 - accuracy: 0.6650 - 2s/epoch - 5ms/step
Epoch 9/100
383/383 - 2s - loss: 0.2136 - accuracy: 0.6745 - 2s/epoch - 4ms/step
Epoch 10/100
383/383 - 2s - loss: 0.2083 - accuracy: 0.6836 - 2s/epoch - 5ms/step
Epoch 11/100
383/383 - 2s - loss: 0.2048 - accuracy: 0.6898 - 2s/epoch - 5ms/step
Epoch 12/100
383/383 - 2s - loss: 0.2013 - accuracy: 0.6947 - 2s/epoch - 5ms/step
Epoch 13/100
383/383 - 2s - loss: 0.1994 - accuracy: 0.6980 - 2s/epoch - 5ms/step
Epoch 14/100
383/383 - 2s - loss: 0.1971 - accuracy: 0.7024 - 2s/epoch - 5ms/step
Epoch 15/100
383/383 - 2s - loss: 0.1948 - accuracy: 0.7070 - 2s/epoch - 5ms/step
Epoch 16/100
383/383 - 2s - loss: 0.1925 - accuracy: 0.7117 - 2s/epoch - 5ms/step
Epoch 17/100
383/383 - 2s - loss: 0.1906 - accuracy: 0.7142 - 2s/epoch - 5ms/step
Epoch 18/100
383/383 - 2s - loss: 0.1898 - accuracy: 0.7157 - 2s/epoch - 5ms/step
Epoch 19/100
383/383 - 2s - loss: 0.1883 - accuracy: 0.7169 - 2s/epoch - 5ms/step
Epoch 20/100
383/383 - 2s - loss: 0.1871 - accuracy: 0.7180 - 2s/epoch - 5ms/step
Epoch 21/100
383/383 - 2s - loss: 0.1859 - accuracy: 0.7209 - 2s/epoch - 4ms/step
Epoch 22/100
383/383 - 2s - loss: 0.1838 - accuracy: 0.7256 - 2s/epoch - 5ms/step
Epoch 23/100
383/383 - 2s - loss: 0.1831 - accuracy: 0.7264 - 2s/epoch - 4ms/step
Epoch 24/100
383/383 - 2s - loss: 0.1817 - accuracy: 0.7263 - 2s/epoch - 5ms/step
Epoch 25/100
383/383 - 2s - loss: 0.1800 - accuracy: 0.7287 - 2s/epoch - 5ms/step
Epoch 26/100
383/383 - 2s - loss: 0.1796 - accuracy: 0.7317 - 2s/epoch - 5ms/step
Epoch 27/100
383/383 - 2s - loss: 0.1779 - accuracy: 0.7325 - 2s/epoch - 5ms/step
Epoch 28/100
383/383 - 2s - loss: 0.1777 - accuracy: 0.7332 - 2s/epoch - 5ms/step
Epoch 29/100
383/383 - 2s - loss: 0.1769 - accuracy: 0.7343 - 2s/epoch - 5ms/step
Epoch 30/100
383/383 - 2s - loss: 0.1761 - accuracy: 0.7383 - 2s/epoch - 5ms/step
Epoch 31/100
383/383 - 2s - loss: 0.1741 - accuracy: 0.7401 - 2s/epoch - 4ms/step
Epoch 32/100
383/383 - 2s - loss: 0.1740 - accuracy: 0.7385 - 2s/epoch - 5ms/step
Epoch 33/100
383/383 - 2s - loss: 0.1722 - accuracy: 0.7434 - 2s/epoch - 5ms/step
Epoch 34/100
383/383 - 2s - loss: 0.1723 - accuracy: 0.7408 - 2s/epoch - 5ms/step
Epoch 35/100
383/383 - 2s - loss: 0.1718 - accuracy: 0.7426 - 2s/epoch - 5ms/step
Epoch 36/100
383/383 - 2s - loss: 0.1702 - accuracy: 0.7464 - 2s/epoch - 5ms/step
Epoch 37/100
383/383 - 2s - loss: 0.1688 - accuracy: 0.7501 - 2s/epoch - 5ms/step
Epoch 38/100
383/383 - 2s - loss: 0.1692 - accuracy: 0.7463 - 2s/epoch - 5ms/step
Epoch 39/100
383/383 - 2s - loss: 0.1683 - accuracy: 0.7489 - 2s/epoch - 5ms/step
Epoch 40/100
383/383 - 2s - loss: 0.1677 - accuracy: 0.7483 - 2s/epoch - 5ms/step
Epoch 41/100
383/383 - 2s - loss: 0.1663 - accuracy: 0.7509 - 2s/epoch - 4ms/step
Epoch 42/100
383/383 - 2s - loss: 0.1658 - accuracy: 0.7525 - 2s/epoch - 5ms/step
Epoch 43/100
383/383 - 2s - loss: 0.1664 - accuracy: 0.7528 - 2s/epoch - 5ms/step
Epoch 44/100
383/383 - 2s - loss: 0.1645 - accuracy: 0.7533 - 2s/epoch - 5ms/step
Epoch 45/100
383/383 - 2s - loss: 0.1637 - accuracy: 0.7541 - 2s/epoch - 5ms/step
Epoch 46/100
383/383 - 2s - loss: 0.1636 - accuracy: 0.7565 - 2s/epoch - 5ms/step
Epoch 47/100
383/383 - 2s - loss: 0.1638 - accuracy: 0.7564 - 2s/epoch - 5ms/step
Epoch 48/100
383/383 - 2s - loss: 0.1619 - accuracy: 0.7592 - 2s/epoch - 5ms/step
Epoch 49/100
383/383 - 2s - loss: 0.1617 - accuracy: 0.7599 - 2s/epoch - 5ms/step
Epoch 50/100
383/383 - 2s - loss: 0.1614 - accuracy: 0.7581 - 2s/epoch - 5ms/step
Epoch 51/100
383/383 - 2s - loss: 0.1605 - accuracy: 0.7617 - 2s/epoch - 5ms/step
Epoch 52/100
383/383 - 2s - loss: 0.1602 - accuracy: 0.7617 - 2s/epoch - 5ms/step
Epoch 53/100
383/383 - 2s - loss: 0.1597 - accuracy: 0.7630 - 2s/epoch - 5ms/step
Epoch 54/100
383/383 - 2s - loss: 0.1585 - accuracy: 0.7641 - 2s/epoch - 5ms/step
Epoch 55/100
383/383 - 2s - loss: 0.1586 - accuracy: 0.7656 - 2s/epoch - 5ms/step
Epoch 56/100
383/383 - 2s - loss: 0.1575 - accuracy: 0.7676 - 2s/epoch - 5ms/step
Epoch 57/100
383/383 - 2s - loss: 0.1579 - accuracy: 0.7654 - 2s/epoch - 4ms/step
Epoch 58/100
383/383 - 2s - loss: 0.1563 - accuracy: 0.7688 - 2s/epoch - 5ms/step
Epoch 59/100
383/383 - 2s - loss: 0.1570 - accuracy: 0.7673 - 2s/epoch - 5ms/step
Epoch 60/100
383/383 - 2s - loss: 0.1559 - accuracy: 0.7690 - 2s/epoch - 5ms/step
Epoch 61/100
383/383 - 2s - loss: 0.1548 - accuracy: 0.7715 - 2s/epoch - 5ms/step
Epoch 62/100
383/383 - 2s - loss: 0.1551 - accuracy: 0.7716 - 2s/epoch - 5ms/step
Epoch 63/100
383/383 - 2s - loss: 0.1539 - accuracy: 0.7730 - 2s/epoch - 4ms/step
Epoch 64/100
383/383 - 2s - loss: 0.1538 - accuracy: 0.7718 - 2s/epoch - 4ms/step
Epoch 65/100
383/383 - 2s - loss: 0.1532 - accuracy: 0.7736 - 2s/epoch - 5ms/step
Epoch 66/100
383/383 - 2s - loss: 0.1529 - accuracy: 0.7753 - 2s/epoch - 5ms/step
Epoch 67/100
383/383 - 2s - loss: 0.1521 - accuracy: 0.7756 - 2s/epoch - 5ms/step
Epoch 68/100
383/383 - 2s - loss: 0.1518 - accuracy: 0.7753 - 2s/epoch - 5ms/step
Epoch 69/100
383/383 - 2s - loss: 0.1519 - accuracy: 0.7768 - 2s/epoch - 5ms/step
Epoch 70/100
383/383 - 2s - loss: 0.1511 - accuracy: 0.7770 - 2s/epoch - 4ms/step
Epoch 71/100
383/383 - 2s - loss: 0.1505 - accuracy: 0.7784 - 2s/epoch - 4ms/step
Epoch 72/100
383/383 - 2s - loss: 0.1493 - accuracy: 0.7813 - 2s/epoch - 5ms/step
Epoch 73/100
383/383 - 2s - loss: 0.1496 - accuracy: 0.7804 - 2s/epoch - 5ms/step
Epoch 74/100
383/383 - 2s - loss: 0.1493 - accuracy: 0.7830 - 2s/epoch - 4ms/step
Epoch 75/100
383/383 - 2s - loss: 0.1485 - accuracy: 0.7810 - 2s/epoch - 5ms/step
Epoch 76/100
383/383 - 2s - loss: 0.1487 - accuracy: 0.7814 - 2s/epoch - 5ms/step
Epoch 77/100
383/383 - 2s - loss: 0.1464 - accuracy: 0.7854 - 2s/epoch - 4ms/step
Epoch 78/100
383/383 - 2s - loss: 0.1473 - accuracy: 0.7846 - 2s/epoch - 5ms/step
Epoch 79/100
383/383 - 2s - loss: 0.1469 - accuracy: 0.7870 - 2s/epoch - 5ms/step
Epoch 80/100
383/383 - 2s - loss: 0.1464 - accuracy: 0.7863 - 2s/epoch - 5ms/step
Epoch 81/100
383/383 - 2s - loss: 0.1463 - accuracy: 0.7864 - 2s/epoch - 5ms/step
Epoch 82/100
383/383 - 2s - loss: 0.1462 - accuracy: 0.7868 - 2s/epoch - 4ms/step
Epoch 83/100
383/383 - 2s - loss: 0.1455 - accuracy: 0.7891 - 2s/epoch - 5ms/step
Epoch 84/100
383/383 - 2s - loss: 0.1457 - accuracy: 0.7884 - 2s/epoch - 5ms/step
Epoch 85/100
383/383 - 2s - loss: 0.1454 - accuracy: 0.7877 - 2s/epoch - 5ms/step
Epoch 86/100
383/383 - 2s - loss: 0.1446 - accuracy: 0.7896 - 2s/epoch - 5ms/step
Epoch 87/100
383/383 - 2s - loss: 0.1440 - accuracy: 0.7910 - 2s/epoch - 5ms/step
Epoch 88/100
383/383 - 2s - loss: 0.1431 - accuracy: 0.7918 - 2s/epoch - 5ms/step
Epoch 89/100
383/383 - 2s - loss: 0.1432 - accuracy: 0.7902 - 2s/epoch - 5ms/step
Epoch 90/100
383/383 - 2s - loss: 0.1432 - accuracy: 0.7919 - 2s/epoch - 5ms/step
Epoch 91/100
383/383 - 2s - loss: 0.1426 - accuracy: 0.7946 - 2s/epoch - 5ms/step
Epoch 92/100
383/383 - 2s - loss: 0.1424 - accuracy: 0.7924 - 2s/epoch - 5ms/step
Epoch 93/100
383/383 - 2s - loss: 0.1421 - accuracy: 0.7949 - 2s/epoch - 5ms/step
Epoch 94/100
383/383 - 2s - loss: 0.1411 - accuracy: 0.7955 - 2s/epoch - 4ms/step
Epoch 95/100
383/383 - 2s - loss: 0.1420 - accuracy: 0.7962 - 2s/epoch - 5ms/step
Epoch 96/100
383/383 - 2s - loss: 0.1409 - accuracy: 0.7958 - 2s/epoch - 4ms/step
Epoch 97/100
383/383 - 2s - loss: 0.1407 - accuracy: 0.7975 - 2s/epoch - 5ms/step
Epoch 98/100
383/383 - 2s - loss: 0.1402 - accuracy: 0.7982 - 2s/epoch - 5ms/step
Epoch 99/100
383/383 - 2s - loss: 0.1402 - accuracy: 0.7987 - 2s/epoch - 5ms/step
Epoch 100/100
383/383 - 2s - loss: 0.1400 - accuracy: 0.7989 - 2s/epoch - 5ms/step

In [50]:
predict2_sample = model2_sample.predict(X_test, batch_size=128)
predict2_sample

array([[8.7038553e-01, 8.7083885e-03, 2.7654264e-02, ..., 3.4475925e-06,
        8.2774705e-04, 7.8393631e-02],
       [1.6870337e-06, 2.1137565e-05, 4.3514588e-06, ..., 9.9929535e-01,
        7.3736937e-06, 5.5847660e-04],
       [6.8280310e-03, 1.2303520e-02, 7.6071504e-03, ..., 1.8767704e-03,
        9.1898727e-01, 4.5626871e-02],
       ...,
       [9.6426642e-01, 3.0859351e-02, 2.7910274e-04, ..., 3.5271094e-06,
        1.5575988e-06, 3.8686234e-03],
       [6.2889278e-02, 8.7173894e-02, 1.3325925e-02, ..., 9.4022532e-04,
        7.4473661e-01, 6.9073886e-02],
       [2.5289089e-09, 3.8844167e-11, 7.7569905e-15, ..., 4.3872006e-35,
        1.1014056e-15, 8.9555493e-07]], dtype=float32)

In [51]:
# Model 2 - CNN sample
results2_sample = model2_sample.evaluate(X_test, y_test)
print('Final test set loss', format(results2_sample[0]))
print('Final test set accuracy', format(results2_sample[1]))

657/657 [==============================] - 3s 4ms/step - loss: 0.1228 - accuracy: 0.8257
Final test set loss 0.12283951789140701
Final test set accuracy 0.8257142901420593

In [52]:
y_pred2_sample = np.argmax(predict2_sample,axis=1)

In [53]:
y_val2_sample =np.argmax(y_test, axis=1)

In [54]:
print(classification_report(y_val2_sample,y_pred2_sample))

              precision    recall  f1-score   support

           0       0.71      0.82      0.76      3061
           1       0.72      0.88      0.79      3066
           2       0.81      0.83      0.82      3032
           3       0.95      0.87      0.91      2979
           4       0.97      0.99      0.98      2958
           5       0.87      0.94      0.90      2949
           6       0.78      0.45      0.57      2955

    accuracy                           0.83     21000
   macro avg       0.83      0.83      0.82     21000
weighted avg       0.83      0.83      0.82     21000

In [55]:
print(classification_report(y_val2_sample, y_pred2_sample))

              precision    recall  f1-score   support

           0       0.71      0.82      0.76      3061
           1       0.72      0.88      0.79      3066
           2       0.81      0.83      0.82      3032
           3       0.95      0.87      0.91      2979
           4       0.97      0.99      0.98      2958
           5       0.87      0.94      0.90      2949
           6       0.78      0.45      0.57      2955

    accuracy                           0.83     21000
   macro avg       0.83      0.83      0.82     21000
weighted avg       0.83      0.83      0.82     21000